.serif{
    font-family: 'Slabo 27px', serif;
}
.sans-serif{
    font-family:sans-serif;
}
.monospace{
    font-family: monospace;
}
.cursive{
    font-family:cursive;
}
.fantasy{
    font-family: 'Luckiest ', fantasy;
}